body {
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

#target-eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 3vh;
    text-shadow: 0.2vh 0.2vh 0.2vh #000000;
    height: auto;
    width: 55px;  
}

#target-label-wrapper {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    left: 87vh;
    width: fit-content;
    height: 100%;
    top: 52%;
}

#target-label {
    list-style: none;
    font-size: 1.6vh;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
}