@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');

html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
@keyframes fadeIn {
    /* 0% {opacity:0; left:-15%;} */
    100% {opacity:1; top:80%; left:47.4%}
}
@keyframes fadeOut {
    0% {opacity:1; top:80%; left:47.4%}
    /* 100% {opacity:0; left:-15%;} */
}
#container{
    position:absolute;
    top:80%;
    left:47.4%;
    /* width:10%; */
    max-width:5%;
}

.fadeIn{
    animation: fadeIn ease 1s forwards;
}
.fadeOut{
    animation: fadeOut ease 1s forwards;
}

#box{
    width:100%;
    background: #0985e300; 
    border-radius:5px;
    
}

#box:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	margin-top: -8px;
	margin-left: -8px;
}

#title, #text{
    width:calc(100% - 1px);
}

#text{
    color:#fff;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: bold;
    text-align:center;
    position: relative;

    margin-top: 0.5rem;
    padding: 0.45rem;
    border-radius: 0.15rem;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #00000000;
    font-size: 2.1vh; /* Hier voeg je de lettergrootte toe (pas aan zoals nodig) */   
}  
