/* Nice font for button from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
}

#container {
    position: absolute;
    height: auto;
    top: 30%;
    right: 20%;
    border-radius: 10px;
    background: transparent !important;
}

#buttons {
    max-height: 70vh;
    width: 31vw;
    overflow-x: none;
    overflow-y: none;
    padding: 5px;
}

html,
body {
    background: transparent !important;
}

#buttons::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    border-width: 1px;
    border-style: solid;
    border-color: #356192;

    width: auto;
    max-width: 45%;
    height: 10%;
    background: #192e46; 
    color: white;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 12px;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.5rem 0.05rem #000000;
    cursor: pointer;
    font-size: 0.8em;
}

.button:hover {
    border-top-width: 0.01px;
    border-top-style: solid;
    background-color: #356192;
    
    border-right-width: 0.01px;
    border-right-style: solid;
    background-color: #356192;

    border-left-width: 2px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;

    background-color: #356192;
    background-color: #356192;
}

.title {
    border-width: 1px;
    border-style: solid;
    border-color: #356192;

    width: auto;
    max-width: 45%;
    height: 10%;
    background: #192e46;
    color: white;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    font-size: 1.2em;    
}

div > .text {
    flex-direction: column;
    overflow: hidden;   
}

div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    font-weight: 550;
    overflow: hidden;
}
