/* Nice font for button from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif !important;
    font-weight: 300;
}

#container {
    position: absolute;
    height: auto;
    top: 10%;
    right: 20%;
    border-radius: 10px;
    background: transparent !important;
}

#buttons {
    max-height: 75vh;
    width: 31vw;
    overflow-x: none;
    overflow-y: none;
}

html,
body {
    background: transparent !important;
}

#buttons::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: black;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: black;

    width: auto;
    max-width: 45%;
    height: 10%;
    background: #1D2538;
    color: white;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    cursor: pointer;
    font-size: 0.9em;
}

.button:hover {
    border-top-width: 0.01px;
    border-top-style: solid;
    border-top-color: #EE7733;
    
    border-right-width: 0.01px;
    border-right-style: solid;
    border-right-color: #EE7733;

    border-left-width: 4px;
    border-bottom-width: 5px;

    border-left-color: #EE7733;
    border-bottom-color: #EE7733;
}

.title {
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: black;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: black;

    width: auto;
    max-width: 45%;
    height: 10%;
    background: #b5cdce;
    color: rgb(0, 0, 0);
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 12px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    font-size: 1.2em;    
}

div > .text {
    flex-direction: column;
    overflow: hidden;   
}

div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    font-weight: 550;
    overflow: hidden;
}
