@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.tooltip-inner {
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: white;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { 
    border-radius: 20px; 
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.toggle.ios .toggle-handle { 
    visibility: visible;
    opacity: 1;
}

.custom-control, .custom-switch, .custom-control-input {
    color: white
}
