@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");

:root {
  --color-default: rgba(255, 255, 255, 1);
  --color-hover: rgba(97, 163, 185, 1);
}

body {
  visibility: hidden;
  user-select: none;
  white-space: nowrap;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

p {
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

#eyeSvg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.5vh;
  color: var(--color-default);
  -webkit-transition: color 0.25s, font-size 0.25s;
  -moz-transition: color 0.25s, font-size 0.25s;
  -o-transition: color 0.25s, font-size 0.25s;
  transition: color 0.25s, font-size 0.25s;
}

.eye-hover {
  font-size: 3vh;
  color: var(--color-hover);
}

#options-wrapper {
  position: absolute;
  top: calc(48.4%);
  left: calc(50% + 15pt);
  display: none;
}

.option-container {
  color: var(--color-default);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Passion One';
  font-size: 14pt;
  font-weight: 600;
  line-height: 22pt;
  vertical-align: middle;
  margin: 2pt;
  transition: 300ms;
  transform-origin: left top;
  scale: 1;
  height: 22pt;
  width: 150pt;
  top: 0;
  text-shadow: 0vh 0vh 0.3vh black;
}

.option-container:hover {
  transform-origin: left top;
  color: var(--color-hover);
  margin-left: 4pt;
}

.option-icon {
  font-size: 12pt;
  line-height: 22pt;
  width: 14pt;
  margin: 5pt;
  color: var(--color-default);
}

.option-label {
  font-weight: 500;
}
