@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');

:root {
    --primary-bg: rgba(23, 23, 23, 0);
    --active-bg: #ffffff;
    --font-color: white;
}

#drawtext-container {
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.text {
    position: absolute;
    background: var(--primary-bg);
    color: var(--font-color);
    margin-top: 0.5rem;
    padding: 0.45rem;
    border-radius: 0.15rem;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #00000000;
    font-size: 1.7em; /* Hier voeg je de lettergrootte toe (pas aan zoals nodig) */
}

@media (width: 3840px) and (height: 2160px) {
    #drawtext-container {
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-family: 'Saira Extra Condensed', sans-serif;
        font-size: 1.7vh;
    }
}


.text.pressed {
    background: var(--active-bg);
}

.top {
    left: 47%;
    top: 80%;
}

.top.show {
    left: 47%;
    top: 80%;
    opacity: 1;
}

.top.hide {
    top: 0;
    opacity: 0;
}

.right {
    left: 45%;
    top: 80%;
}

.right.show {
    left: 45%;
    top: 80%;
    opacity: 1;
}

.right.hide {
    top: 0;
    opacity: 0;
}

.left {
    left: 47.4%;
    top: 80%;
}

.left.show {
    left: 47.4%;
    top: 80%;
    opacity: 1;
}

.left.hide {
    left: 0;
    opacity: 0;
}